th {
    /* padding: "0px 5px !important"; */
    font-weight: 400;
    font-size: 13px;
    background-color: #F9F9F9;
    color: #000000;
    text-transform: uppercase;
}
td {
    font-weight: 400;
    font-size: 14px;
    color: #0C0A09;
}





